{% extends "base.html" %}

{% load static %}
{% block contenidoquecambia %}
<section style="color: black">
<h1>Un poco sobre esto!!!</h1>
    <p>Este sistema pretende ser util para la admnistración de viajes de una empresa de transporte.</p>
    <p>El sistema fue pensado por <b>Lautaro Gabriel Manucci</b>, quien es Contador Publico, egresado de la </p>
    <p>Universidad Nacional de Entre Rios en el año 2016 para la presentación del trabajo final </p>
    <p>del <b>Curso de Python dictado por CoderHouse</b> </p>
<p></p>
<p><img src="" alt=""></p>
<p>En esta primer etapa se sientan las bases para carga de objetos iniciales. Por lo cual se configuraron</p>
<p>las paginas y formularios para la carga inicial de datos de:</p>    
<p ><h6 style="color: red;">Vehiculos</h6></p>
<p ><h6 style="color: red;">Entidades (Clientes y Proveedores)</h6></p>
<p ><h6 style="color: red;">Detalle de viajes</h6></p>
<p></p>
<p>Luego se comenzara a trabajar en la relación entre estos datos.</p>
<p>El objtivo final es poder reportear el detalle de viajes para realizar seguimiento.</p>   
<head>
    
    <a class="btn btn-outline-primary btn-lg px-1" href="/app_Misviajes">Salir</a>

</head>
</section>
{% endblock %}   