{% extends "base.html" %}
{% load static %}
{% block contenidoquecambia %}
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">REPORTE DE VIAJES</h1>
                        <p class="lead text-white-50 mb-4">Administración de viajes por transportista y vehiculo</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-outline-light btn-lg px-1" href="Viajesformulario">Agregar Viaje</a>
                            <a class="btn btn-outline-light btn-lg px-1" href="/app_Misviajes">Salir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

<h1>Consulta de Viajes</h1>
<p><form action="" method="post"> 
        {% csrf_token %}
        <input type="text" name="Camion" id="">
        <input type="submit" value="Buscar">
    </form>
</p>
<section class="bg-light py-5">
    <h2>Los viajes Realizados son:</h2>
<p> <!--Otra forma de presentar el dato-->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Carga</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cliente</th>
                <th scope="col">Tipo Doc</th>  
                <th scope="col">Nro</th>
                <th scope="col">KM</th>
                <th scope="col">Camion</th>
                <th scope="col">Origen</th>
                <th scope="col">Destino</th>
                <th scope="col">Mercaderia</th>
                <th scope="col">Toneladas</th>
                <th scope="col">Tarifa</th>
                <th scope="col">Importes</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
            {% for viajes in Viajes %}
            <tr>
                <!-- <td>{{ viajes_e.get_Facturación_display }}</td> sin tendria lista -->
                <!-- <td>{{ viajes_e.get_Camion_display }}</td> -->
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ viajes.Fecha }}</td>
                <td>{{ viajes.Cliente}}</td>
                <td>{{ viajes.get_Tipodoc_display }}</td>
                <td>{{ viajes.Documento }}</td>
                <td>{{ viajes.get_Kilometros_display}} </td>
                <td>{{ viajes.Camion }} </td>
                <td>{{ viajes.Origen }} </td>
                <td>{{ viajes.Destino }} </td>
                <td>{{ viajes.get_Mercaderia_display}} </td>
                <td>{{ viajes.Toneladas}} </td>
                <td>{{ viajes.Tarifa}} </td>
                <td>{{ viajes.importe}} </td>
                <td>
                    <a href="{% url 'editarviaje' viajes.id %}" class="text-primary badge badge-primary text-decoration-none"> <i class="bi bi-pencil-square"></i> Editar  </a>
                    <a href="{% url 'facturarviaje' viajes.id %}" class="text-primary badge badge-danger text-decoration-none"><i class="bi bi-check2-square"></i> Facturar </a>
                    <a href="{% url 'eliminarviaje' viajes.id %}" class="text-danger badge badge-danger text-decoration-none"><i class="bi bi-x-square"></i> Eliminar </a>

                </td>
            </tr>
            {% endfor %}
    </table>
</p>
{% endblock %} 
        