{% extends "base.html" %}

{% load static %}
{% block contenidoquecambia %}   
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">ENTIDADES</h1>
                            <p class="lead text-white-50 mb-4">Administración de Clientes, Proveedores y Choferes</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-outline-light btn-lg px-1" href="Entidadesformulario">Agregar Entidad</a>
                                <a class="btn btn-outline-light btn-lg px-1" href="/app_Misviajes/">Salir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="bg-light py-50">
            <!--Boton para agregar viajr --
            <ul>
                <a href="{%url "FormularioViajes" %}">+ Agregar Viaje</a>
            </ul>
            <!- cierre boton comentado-->
            <h1>Consulta de Entidades</h1>
            <p><form action="" method="post"> 
                    {% csrf_token %}
                    <input type="text" name="referencia" id="">
                    <input type="submit" value="Buscar">
                </form>
            </p>
        
        </section>
        <section class="bg-light py-5">
            <h1>Las entidades son:</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tipo Entidad</th>
                    <th scope="col">Documento</th>  
                    <th scope="col">Nombre</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
                {% for entidades in Listadoentidades %}
                <tr>
                    <td>{{ entidades.get_tipoentidad_display}}</td> <!-- porque tiene una lista  entidades.get_tipoentidad_display -->
                    <td>{{ entidades.Documento}}</td>
                    <td>{{ entidades.nombre }}</td>
                    <td>
                        <a href="{% url 'editarentidad' entidades.id %}" class="text-primary badge badge-primary text-decoration-none"> <i class="bi bi-pencil-square"></i> Editar  </a>
                        <a href="{% url 'eliminarentidad' entidades.id %}" class="text-danger badge badge-danger text-decoration-none"><i class="bi bi-x-square"></i> Eliminar </a>
                    </td>

                </tr>
                {% endfor %}
        </table>
{% endblock %}   

