<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Entidades</title>
</head>
<body>
    <h2>Detalle de la Entidad</h2>
    <p>Tipo Entidad:<i> {{ Entidad.tipoentidad }} </i> </p>
    <p>Documento:<i> </i>{{ Entidad.Documento }}</i> </p>
    <p>Nombre / Razón Social:{{Entidad.nombre}} </p>
    <a href="{%url 'Entidades_list' %}">Regresar a lista de entidades</a>
</body>
</html>