<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Entidades</title>
</head>
<body>
    <h2>
        <ul>
            {%for Entidad in object_list %}
                <li>
                    Entidad: {{ Entidad.get_tipoentidad_display }} {{Entidad.Documento}} {{Entidad.nombre}} |
                    <a href="{% url 'detail' Entidad.id %}">Ver</a>
                    <a href="{% url 'Entidade_update' Entidad.id %}">Editar</a>
                    <a href="{% url 'Entidade_Delete' Entidad.id %}">Eliminar</a>
                </li>
            {%endfor %}
        </ul>
    </h2>
</body>
</html>