{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Sistema Transporte Nahuel
        </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{%static 'assets/favicon.ico'%}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{%static 'css/styles.css'%}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {%if user.is_authenticated%}
                        <a class="btn btn-light btn-lg px-1 me-sm-1" href="editar_perfil">Modificar Perfil</a>
                        <a class="btn btn-light btn-lg px-1 me-sm-1" href="logout">Cerrar Cesión</a>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <li class="nav-item"><p class="text-light my2"> <i class="bi bi-person-circle"></i><img src="{{url}}" alt="" style="height: 40px;">
                         </i>Usuario: <b>{{user.username }}!</b></p></li>
                        </div>
                    {%else %}
                        
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

    <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="entidades/">Direcciones</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Vehiculos</a></li>
                        <li class="nav-item"><a class="nav-link active" href="Viajes">Orden de Viaje</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Consultas</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    -->
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5" >
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-15">
                        <div class="text-center my-10">
                            <h1 class="display-5 fw-bolder text-white mb-2">SISTEMA DE ORDENES DE FLETES</h1>
                            <p class="lead text-white-50 mb-4">Administración de viajes por transportista y vehiculo</p>
                            
                            {%if user.is_authenticated%}
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <i class="bi bi-person-circle"></i>
                                </div>
                            {%else %}
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="login">Iniciar Sesión</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="register">Nuevo Usuario</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            {% if user.is_authenticated%}
            <div class="container px-10 my-10" >
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">Ordenes de Carga</h2>
                        <p>Menu para Ingresar y Consultar Fletes.</p>
                        <a class="text-decoration-none" href="consultaviajes">
                            Ingresar
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h4 fw-bolder">Entidades</h2>
                        <p>Menu para Gestión de Clientes, Proveedores y Choferes</p>
                        <a class="text-decoration-none" href="Entidades">
                            Ingresar
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        {% if user.is_staff%}
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">Vehiculos</h2>
                        <p>Gestión de Vehiculos</p>
                        <a class="text-decoration-none" href="Vehiculos">
                            Ingresar
                            <i class="bi bi-arrow-right"></i>
                        </a>
                        {%endif%}
                    </div>
                </div>
            </div>
            {%else%}
            <div><p><h1>Bienvenido al Sistema</h1></p></div>
            {%endif%}
        </section>        
        
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-8"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
