{% extends "base.html" %}

{% load static %}
{% block contenidoquecambia %}
<header class="bg-dark py-5">
    <div class="container px-5" >
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-15">
                <div class="text-center my-10">
                    <h1 class="display-5 fw-bolder text-white mb-2">SISTEMA DE ORDENES DE FLETES</h1>
                    <p class="lead text-white-50 mb-4">Administración de viajes por transportista y vehiculo</p>
                    
                    {%if user.is_authenticated%}
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <i class="bi bi-person-circle"></i>
                        </div>
                    {%else %}
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="login">Iniciar Sesión</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="register">Nuevo Usuario</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    {% if user.is_authenticated%}
    <div class="container px-10 my-10" >
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder">Ordenes de Carga</h2>
                <p>Menu para Ingresar y Consultar Fletes.</p>
                <a class="text-decoration-none" href="consultaviajes">
                    Ingresar
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                <h2 class="h4 fw-bolder">Entidades</h2>
                <p>Menu para Gestión de Clientes, Proveedores y Choferes</p>
                <a class="text-decoration-none" href="Entidades">
                    Ingresar
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4">
                {% if user.is_staff%}
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">Vehiculos</h2>
                <p>Gestión de Vehiculos</p>
                <a class="text-decoration-none" href="vehiculos">
                    Ingresar
                    <i class="bi bi-arrow-right"></i>
                </a>
                {%endif%}
            </div>
        </div>
    </div>
    {%else%}
    <div><p><h1>Bienvenido al Sistema</h1></p></div>
    {%endif%}
</section>
{% endblock %}        